@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Monoton&family=Poppins:wght@300;600&family=Roboto:wght@300;700&family=Slackey&display=swap");

:root {
  --off-color: red;
  --color: rgb(227, 227, 228);
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: max(13vw, 20vh);
}
body {
  background-color: white;
  font-family: roboto;
  padding: 0;
  margin: 0;
}

.mainNav {
  min-height: 12vh;
  padding-top: 2vh;
}

.mainNav > * {
  margin: 0;
}

.mainNav h1 {
  font-family: slackey;
  font-size: max(min(6vw, 8rem), 5vh);
}

.mainNav nav {
  margin-right: 5vw;
  margin-left: 5vw;
  font-family: roboto;
  height: 3vh;
}

.mainNav a {
  text-decoration: none;
  color: rgb(91, 112, 151);
}

.mainNav a:hover {
  color: rgb(155, 83, 50);
  font-size: 110%;
}

.mainNav h1 span {
  display: inline-block;
  /*font-family: poppins;*/
  color: rgb(157, 174, 206);
}

.mainNav {
  margin: 0;
  background-color: rgb(227, 228, 228);
}

@media screen and (min-width: 700px) {
  .mainNav {
    display: flex;
    align-items: flex-end;
    min-height: 12vh;
    padding-top: 1vh;
    background-color: rgb(227, 228, 228);
  }
}

.mainNav h1 {
  margin-right: auto;
  margin-left: 5vw;
}

/*Category*/

body.category {
  padding: 0;
}

.fixer {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

.category header {
  width: 100%;
  min-height: 12vh;
  /* padding-top: 2vh; */
}

.category main {
  width: min(1100px, 80vw);
  margin-top: max(14vw, 22vh);
  margin-left: auto;
  margin-right: auto;
}

.letterLinks {
  height: auto;
  width: 100%;
  background-color: white;
}

.letterLinks ul {
  padding: 0 10%;
  margin-top: 1rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* gap: 0.5rem; */
  font-size: 1.4rem;
}

.letterLinks ol li {
  padding: 0;
  margin: 0;
}

.letterLinks a {
  color: black;
  padding: 0;
  margin: 0;
}

.letterLinks a:hover {
  color: coral;
  font-weight: bold;
}

.brandList h2 {
  font-family: slackey;
  color: rgb(157, 174, 206);
  font-size: 2rem;
  padding-left: 2vw;
  background-color: rgb(227, 228, 228);
}

.brandList ol {
  list-style-type: none;
}
.brandList li {
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.brandList a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: black;
}
.brandList li::after {
  display: block;
  width: 20px;
  height: 20px;
  content: "";
  transition: all 0.3s;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 14"><path fill="none" stroke="white" d="M.8 12.87l7.5-6-7.5-6"></path></svg>');
  background-repeat: no-repeat;
  /* url('data:image/svg+xml;utf8,<svg class="svg-arrowRight" viewBox="0 0 9 14"><path fill="none" stroke="#979797" d="M.8 12.87l7.5-6-7.5-6"></path></svg>'); */
}
.brandList li:hover {
  background: rgb(157, 174, 206);
  transition: transform 0.3s;
}
.brandList li:hover::after {
  transform: translateX(8px);
}

@media screen and (min-width: 800px) {
  .brandList ol {
    column-count: 2;
  }
}

/*ProductList*/
.productlist main {
  width: min(1600px, 80vw);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
  gap: 3rem;
  padding-bottom: max(3vw, 5vh);
}
.productlist main h2 {
  font-size: calc(1vw + 1.5rem);
  grid-column: 1/-1;
  background-color: rgb(157, 174, 206);
}

.productlist article {
  background-color: white;
  border: black;
  border-style: solid;
  border-radius: 1vw;
  padding: 1rem;
  transform-origin: center;
  transition: 0.5s;
}

.productlist article:hover {
  transform: scale(1.2);
}

.productlist article h3 {
  font-size: 1rem;
  flex-grow: 3;
  margin-top: 1.5rem;
}
.productlist article > * {
  margin: 0;
  font-size: 0.9rem;
}
.subtle {
  color: #727272f3;
}
.productlist article {
  display: flex;
  flex-direction: column;
  position: relative;
}
.productlist article.soldOut img {
  opacity: 0.5;
}
.productlist article.soldOut::before {
  content: "Sold Out";
  position: absolute;
  background: var(--color);
  color: black;
  /* color: var(--background-color); */
  padding: 1rem;
  font-size: 2rem;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}
.productlist article .discounted,
.productlist article .price span {
  display: none;
}
.productlist article.onSale .discounted {
  display: flex;
  justify-content: space-between;
}
.discounted > p {
  margin-bottom: 0;
}
.productlist article.onSale .price span {
  display: initial;
}
.productlist article button {
  margin-top: auto;
}
.productlist article {
  margin-bottom: 1rem;
}
.discounted p:last-child {
  background: var(--off-color);
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: bold;
  color: antiquewhite;
}

.productlist footer {
  background-color: tomato;
  width: 100%;
  height: max(6vw, 6vh);
  position: relative;
}

.bottonContainer {
  width: min(1600px, 80vw);
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottonContainer button {
  height: max(4vw, 4vh);
  width: 20%;
  font-size: 1.3rem;
}

/*Product*/

.product main {
  margin-right: auto;
  margin-left: auto;
  width: max(350px, 80vw);
  max-width: 1100px;
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
}

.product .breadcrumbs {
  grid-row: 1/2;
  grid-column: 1/-1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productimg {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  grid-row: 2/3;
  grid-column: 1/2;
  /* width: max(350px, 80vw);
  max-width: 800px; */
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.breadcrumbs li {
  font-family: roboto;
}

.breadcrumbs li a {
  color: black;
}

.breadcrumbs li a:hover {
  color: rgb(155, 83, 50);
}

.breadcrumbs li::after {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  content: "";
  transition: all 0.3s;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 14"><path fill="none" stroke="white" d="M.8 12.87l7.5-6-7.5-6"></path></svg>');
  background-repeat: no-repeat;
  /* url('data:image/svg+xml;utf8,<svg class="svg-arrowRight" viewBox="0 0 9 14"><path fill="none" stroke="#979797" d="M.8 12.87l7.5-6-7.5-6"></path></svg>'); */
}
.breadcrumbs li:last-child::after {
  background: none;
}

.info-PurchaseBox {
  width: 100%;
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.purchaseBox {
  background: #d8d8d8;
  color: var(--background-color);
  padding: 1rem;
  min-width: 300px;
  max-width: 40%;
  max-height: 250px;
}
.info {
  padding: 1rem;
  min-width: 300px;
}
.product select {
  min-width: 100px;
}

.purchaseBox form label {
  gap: 1rem;
}
.purchaseBox button {
  display: block;
  margin-top: 1rem;
  width: 100%;
}

dt {
  font-weight: 700;
}

@media only screen and (max-width: 840px) {
  .product main {
    display: block;
  }

  .productimg {
    margin-left: 10%;
  }

  .info-PurchaseBox {
    justify-content: center;
  }
}
